<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="GlobalTraceSwitch" value="3"/>
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="" type="BitDiffer.Common.TraceListeners.RelayingTraceListener, BitDiffer.Common"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
